body {
    background-color:white;
}


.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: rgb(248, 248, 248);
    box-shadow: 0 0 50px rgba(37, 37, 37, 0.5);
    user-select: none;
    transition: bottom 0.4s;
}
.backspace {
height: 60px;
width: 60px;

}
.row1,.row2,.row3,.row4,.row5 {
  }
button {
color: white;
width: 60px;
height: 60px;
cursor: pointer;
background: rgb(15, 15, 15);
font-size: 20px;

}

.Space {
    width: 527px;
    height: 60px;
}
.OK {
width: 250px;
height: 60px;
}
.caps-lock {
    width: 200px;
    height: 60px;
} 
.shift {
width: 200px;
height: 60px;
}
